In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import xgboost as xgb
from xgboost import XGBClassifier
import multiprocessing
from sklearn.metrics import classification_report,confusion_matrix

In [2]:
df = pd.read_csv("Even_more_cleaned_dataset.csv")

In [3]:
non_ohe_columns = ['Unnamed: 0', 'Assigned.ID', 'Geog', 'BoRace', 'CoRace', \
                   'BoGender', 'CoGender', 'BoCreditScor', 'CoBoCreditScor', 'BoEth', 'CoEth', \
                  'Bank', 'PropType', 'SpcHsgGoals', 'AcqTyp', 'FedGuar', 'First', 'Self', 'NumBor']

In [4]:
# Classification for BoEth

# Creating the dataset for BoEth Class Prediction
BoEth_col = df["BoEth"]
df_BoEth = df.drop(non_ohe_columns, axis = 1)
df_BoEth = df_BoEth.drop(['BoEth_2', 'BoEth_3'], axis = 1)
df_BoEth = df_BoEth.drop(['Bank_Boston', 'Bank_Chicago', 'Bank_Cincinnati', 'Bank_Des Moines', \
                          'Bank_Indianapolis', 'Bank_Pittsburgh', 'Bank_Topeka'], axis = 1)

df_BoEth["BoEth"] = BoEth_col

for col in df_BoEth.columns:
    df_BoEth[col] = df_BoEth[col].astype(float)
    
df_BoEth['BoEth'] = df_BoEth['BoEth'].astype(int)
df_BoEth['BoEth'] = np.where(df_BoEth['BoEth'] == 3, 0, df_BoEth['BoEth'])

X = df_BoEth.iloc[:, :-1].values
y = df_BoEth.iloc[:, -1:].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 6)

In [5]:
df_BoEth.head()

,BoRace_5,BoRace_7,CoRace_5,CoRace_8,BoGender_1,BoGender_2,BoGender_3,CoGender_1,CoGender_2,CoGender_4,...,Income,IncRat,UPB,LTV,Term,Rate,Front,Back,PMI,BoEth
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.013611,0.047784,0.054422,0.765217,0.4,0.144487,0.000404,0.000813,0.0,1
1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.049231,0.058919,0.418091,0.808696,1.0,0.285171,0.000523,0.000851,0.0,2
2,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.026499,0.031902,0.344783,0.895652,1.0,0.285171,0.000836,0.001134,0.0,0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.038456,0.033802,0.202094,0.643478,1.0,0.334601,0.000599,0.001234,0.0,2
4,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.012557,0.014915,0.233966,0.730435,1.0,0.285171,0.001470,0.001522,0.0,2

In [6]:
BoEth_XGB_Model = XGBClassifier(objective='multi:softmax', num_class = len(df_BoEth['BoEth'].unique()), random_state = 6)
BoEth_XGB_Model.fit(X_train, y_train.ravel())

y_pred_train = BoEth_XGB_Model.predict(X_train)
y_pred_test = BoEth_XGB_Model.predict(X_test)

In [7]:
print(confusion_matrix(y_train,y_pred_train))
print(classification_report(y_train,y_pred_train))

[[ 2785    17   348]
 [   62   318  1058]
 [  104   102 34399]]
              precision    recall  f1-score   support

           0       0.94      0.88      0.91      3150
           1       0.73      0.22      0.34      1438
           2       0.96      0.99      0.98     34605

    accuracy                           0.96     39193
   macro avg       0.88      0.70      0.74     39193
weighted avg       0.95      0.96      0.95     39193

In [8]:
print(confusion_matrix(y_test,y_pred_test))
print(classification_report(y_test,y_pred_test))

[[ 1174    11   175]
 [   21   117   493]
 [   64    53 14689]]
              precision    recall  f1-score   support

           0       0.93      0.86      0.90      1360
           1       0.65      0.19      0.29       631
           2       0.96      0.99      0.97     14806

    accuracy                           0.95     16797
   macro avg       0.85      0.68      0.72     16797
weighted avg       0.94      0.95      0.94     16797